* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container {
  width: 1400px;
  padding: 0 15px;
 
}
.header {
  margin-bottom: 100px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-logo {
  width: 150px;
  height: 80px;
}

.images-2 {
  width: 150px;
  height: 250px;
  position: relative;
}

.images {
  width: 150px;
  height: 290px;
  top: 140px;
  right: 490px;
  position: absolute;
  z-index: 1;
}

@media screen and (min-width: 320px) {
  .images {
    width: 60px;
    height: 120px;
    top: 180px;
    left: 770px;
  }
  .descont-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 75px;
  }
  .descont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    background-color: black;
    border-radius: 10px;
    font-weight: 200;
    width: 200px;
    height: 50px;
    padding: 40px;

    font-family: Arial, Helvetica, sans-serif;
  }
}

.images-2 {
  width: 60px;
  height: 100px;
}
.body {
  width: 420px;
}
.text-images {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  margin-left: 50px;
}

@media screen and (max-width: 1440px) {
  .images {
    width: 70px;
    height: 100px;
    top: 180px;
    left: 150px;
  }

  .images-2 {
    width: 50px;
    height: 80px;
  }

  .body {
    width: 768px;
  }

  .text-images {
    font-size: x-large;
    margin-left: 70px;
  }
  .descont-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 75px;
  }
}
.main-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-images {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}
.span-number {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  width: 60px;
  height: 40px;
  color: #fff;
  background-color: rgb(168, 153, 238);
}
.descont-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 75px;
}
.descont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
  background-color: black;
  border-radius: 10px;
  font-weight: 500;
  width: 200px;
  height: 50px;

  font-family: Arial, Helvetica, sans-serif;
}
.link-descont {
  text-decoration: none;
  color: #fff;
  padding: 0 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.internet {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-imternet {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255px;
  height: 50px;
  background-color: rgb(168, 153, 238);
  text-align: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  margin-bottom: 400px;
}
.link-imternet:hover {
  transition-duration: 200ms;
  box-shadow: 1px 5px #000;
}

.footer {
  background-color: black;
  margin: 0 auto;
}

.footer-text {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.text-footer {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  gap: 25px;
  align-items: center;
  flex-wrap: wrap;
}
.footer-menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-menu-item {
  margin-left: 10px;
}

.footer-icon-link {
  fill: #fff;
  background-color: black;
  border-radius: 50%;
  padding: 5px;
  border-color: #fff;
}
.footer-icon-link:hover {
  background-color: blue;
  transition-duration: 200ms;
  fill: darkturquoise;
}
.footer-link-icon {
  fill: #000;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
}
.footer-link-icon:hover {
  background-color: blue;
  transition-duration: 200ms;
  fill: coral;
}
.our-contact {
  color: #fff;
  text-decoration: none;
}
.contact {
  display: flex;
  justify-content: center;
  margin-left: auto;
}
.contact:hover {
  text-decoration: underline;
  color: #fff;
}
